<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Albums Guide</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <table class="table">
        <caption class="table__caption">Music Albums Guide</caption>
        <tr class="table__header">
            <th class="table__cell">album</th>
            <th class="table__cell">
                album<br>
                <form method="post">
                    {% csrf_token %}
                    <button name="sort" value="album">SORT!</button>
                </form></th>
            <th class="table__cell">
                artist<br>            
                <form method="post">
                    {% csrf_token %}
                    <button name="sort" value="artist">SORT!</button>
                </form></th>
            <th class="table__cell">Track</th>
        </tr>
        {% for item in albums %}
        <tr class="table__row">
            <th class="table__cell">{{item.album}}</th>
            <th class="table__cell">{{item.name}}</th>
            <th class="table__cell">{{item.artist.name}}</th>
            <th class="table__cell">
                {% for track in item.tracks %}
                    track<br>
                {% endfor %}
            </th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

