<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Albums Guide</title>
</head>
<body>
    <h1>Музыкальные альбомы</h1>
</body>
<table>
    <tr>
        <td>album<br>
            <form method="post">
                {% csrf_token %}
                <button name="sort" value="album">SORT!</button>
            </form>
        </td>
        <td>artist<br>            
            <form method="post">
                {% csrf_token %}
                <button name="sort" value="artist">SORT!</button>
            </form>
        <td>tracks</td>
    </tr>
    {% for item in albums %}
    <tr>
       <td>{{item.name}}</td>
       <td>{{item.artist.name}}</td>
       <td>
           {% for track in item.tracks %}
           track<br>
           {% endfor %}
       </td>
    </tr>
    {% endfor %}
</table>
</html>

